-- CreateEnum
CREATE TYPE "RolUsuario" AS ENUM ('ADMIN_SISTEMA', 'JEFE_UNIDAD', 'SUPERVISOR_ATS', 'ATCO', 'ATCO_ENTRENAMIENTO');

-- CreateEnum
CREATE TYPE "TipoProfesion" AS ENUM ('ATC', 'METEOROLOGIA', 'AIS', 'OTROS');

-- CreateEnum
CREATE TYPE "HorarioOperacion" AS ENUM ('H24', 'H18', 'H16', 'H12', 'H9');

-- CreateEnum
CREATE TYPE "TipoPuesto" AS ENUM ('TWR', 'APP', 'ACC', 'COORDINADOR', 'SUPERVISOR');

-- CreateEnum
CREATE TYPE "TipoHabilitacion" AS ENUM ('TWR', 'APP', 'ACC', 'TWR_APP', 'APP_ACC', 'TWR_APP_ACC');

-- CreateEnum
CREATE TYPE "EstadoPublicacion" AS ENUM ('BORRADOR', 'PUBLICADO', 'VIGENTE', 'CERRADO');

-- CreateEnum
CREATE TYPE "SectorATS" AS ENUM ('O', 'N', 'ON');

-- CreateEnum
CREATE TYPE "TurnoType" AS ENUM ('DIURNO', 'NOCTURNO');

-- CreateEnum
CREATE TYPE "TipoActividadControl" AS ENUM ('CONTROLADOR_SECTOR', 'CONTROLADOR_COORDINADOR', 'SUPERVISOR_CONTROL', 'INSTRUCTOR', 'ATCO_ENTRENAMIENTO');

-- CreateEnum
CREATE TYPE "OrigenRegistro" AS ENUM ('MANUAL', 'IMPORTACION_EXCEL', 'MIGRACION', 'API');

-- CreateEnum
CREATE TYPE "EstadoCalculoHoras" AS ENUM ('BORRADOR', 'PENDIENTE_REVISION', 'APROBADO_JEFE_UNIDAD', 'ENVIADO_DRH', 'PAGADO', 'RECHAZADO');

-- CreateEnum
CREATE TYPE "TipoPuntoFIX" AS ENUM ('WAYPOINT', 'VFR', 'FRONTERA', 'TCP', 'LONGITUDINAL', 'OTROS');

-- CreateEnum
CREATE TYPE "CategoriaPuntoFIX" AS ENUM ('NAC', 'INT', 'TRANS_PUB', 'MILITAR', 'OTROS');

-- CreateEnum
CREATE TYPE "TipoDependencia" AS ENUM ('TWR', 'APP', 'ACC');

-- CreateEnum
CREATE TYPE "OrigenCalculo" AS ENUM ('MANUAL', 'IMPORTACION_EXCEL', 'CONTEO_AUTOMATICO');

-- CreateEnum
CREATE TYPE "TipoIncidente" AS ENUM ('FALLA_EQUIPO', 'SOLICITUD_EMERGENCIA', 'DESVIACION_PROCEDIMIENTO', 'PERDIDA_COMUNICACION', 'OTRO');

-- CreateEnum
CREATE TYPE "GravedadIncidente" AS ENUM ('BAJA', 'MEDIA', 'ALTA', 'CRITICA');

-- CreateEnum
CREATE TYPE "EstadoIMATS" AS ENUM ('BORRADOR', 'EN_REVISION', 'PENDIENTE_FIRMA', 'FIRMADO', 'ENVIADO_SSA', 'RECHAZADO');

-- CreateTable
CREATE TABLE "Usuario" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellido" TEXT NOT NULL,
    "rut" TEXT,
    "numeroLicencia" TEXT,
    "validezMedica" TIMESTAMP(3),
    "validezLinguistica" TIMESTAMP(3),
    "password" TEXT NOT NULL,
    "pin" TEXT,
    "rol" "RolUsuario" NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "unidadId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Unidad" (
    "id" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "sigla" TEXT NOT NULL,
    "tipoProfesion" "TipoProfesion" NOT NULL DEFAULT 'ATC',
    "activa" BOOLEAN NOT NULL DEFAULT true,
    "horarioOperacion" "HorarioOperacion",
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Unidad_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConfiguracionUnidadATS" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "horarioOperacion" "HorarioOperacion" NOT NULL,
    "dotacionRequerida" INTEGER NOT NULL,
    "configuraciones" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ConfiguracionUnidadATS_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PuestoTrabajo" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "tipo" "TipoPuesto" NOT NULL,
    "horarioOperacion" "HorarioOperacion" NOT NULL,
    "dotacionRequerida" INTEGER NOT NULL,
    "dotacionActual" INTEGER NOT NULL DEFAULT 0,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "alertaBajaDotacion" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PuestoTrabajo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TipoTurno" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "descripcion" TEXT,
    "horaInicio" TEXT,
    "horaFin" TEXT,
    "duracionHoras" DOUBLE PRECISION,
    "esOperativo" BOOLEAN NOT NULL DEFAULT true,
    "esNocturno" BOOLEAN NOT NULL DEFAULT false,
    "esDiaInhabil" BOOLEAN NOT NULL DEFAULT false,
    "color" TEXT NOT NULL DEFAULT '#3b82f6',
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "orden" INTEGER NOT NULL DEFAULT 0,
    "validaciones" JSONB,
    "creadoPor" TEXT NOT NULL,
    "modificadoPor" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TipoTurno_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Habilitacion" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "tipoHabilitacion" "TipoHabilitacion" NOT NULL,
    "dependencias" JSONB NOT NULL,
    "fechaInicio" TIMESTAMP(3) NOT NULL,
    "fechaVencimiento" TIMESTAMP(3),
    "activa" BOOLEAN NOT NULL DEFAULT true,
    "requierePericia" BOOLEAN NOT NULL DEFAULT true,
    "horasMinimasMes" INTEGER NOT NULL DEFAULT 10,
    "ultimaVCP" TIMESTAMP(3),
    "proximaVCP" TIMESTAMP(3),
    "otorgadaPor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Habilitacion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PublicacionTurnos" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "mes" INTEGER NOT NULL,
    "a├▒o" INTEGER NOT NULL,
    "estado" "EstadoPublicacion" NOT NULL,
    "fechaPublicacion" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "fechaInicio" TIMESTAMP(3) NOT NULL,
    "fechaFin" TIMESTAMP(3) NOT NULL,
    "aprobadoPor" TEXT,
    "aprobadoAt" TIMESTAMP(3),
    "creadoPor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PublicacionTurnos_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AsignacionTurno" (
    "id" TEXT NOT NULL,
    "publicacionId" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "tipoTurnoId" TEXT NOT NULL,
    "fecha" DATE NOT NULL,
    "horaInicio" TEXT,
    "horaFin" TEXT,
    "duracion" DOUBLE PRECISION,
    "esNocturno" BOOLEAN NOT NULL DEFAULT false,
    "esDiaInhabil" BOOLEAN NOT NULL DEFAULT false,
    "esFestivo" BOOLEAN NOT NULL DEFAULT false,
    "observaciones" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AsignacionTurno_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RegistroATC6" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "puestoTrabajoId" TEXT,
    "fecha" DATE NOT NULL,
    "sector" "SectorATS",
    "turno" "TurnoType" NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "iniciales" TEXT NOT NULL,
    "horaInicio" TEXT NOT NULL,
    "horaTermino" TEXT,
    "totalHoras" DOUBLE PRECISION,
    "totalHorasStr" TEXT,
    "tipoActividad" "TipoActividadControl" NOT NULL,
    "esEntrenamiento" BOOLEAN NOT NULL DEFAULT false,
    "esExamen" BOOLEAN NOT NULL DEFAULT false,
    "instructorId" TEXT,
    "esNocturno" BOOLEAN NOT NULL DEFAULT false,
    "esDiaInhabil" BOOLEAN NOT NULL DEFAULT false,
    "esValido" BOOLEAN NOT NULL DEFAULT true,
    "erroresValidacion" TEXT,
    "origen" "OrigenRegistro" NOT NULL,
    "importadoDesde" TEXT,
    "creadoPor" TEXT NOT NULL,
    "modificadoPor" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "RegistroATC6_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ConsolidadoATC6Mensual" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "mes" INTEGER NOT NULL,
    "a├▒o" INTEGER NOT NULL,
    "horasSectorO" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasSectorN" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasSectorON" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "totalHoras" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "cumpleMinimo" BOOLEAN NOT NULL,
    "requiereVCP" BOOLEAN NOT NULL,
    "alertaGenerada" BOOLEAN NOT NULL DEFAULT false,
    "alertaEnviadaA" TEXT,
    "calculadoAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "recalculadoAt" TIMESTAMP(3),

    CONSTRAINT "ConsolidadoATC6Mensual_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AbreviaturaATCO" (
    "id" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "activa" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AbreviaturaATCO_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CalculoHorasMensual" (
    "id" TEXT NOT NULL,
    "usuarioId" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "mes" INTEGER NOT NULL,
    "a├▒o" INTEGER NOT NULL,
    "diasHabiles" INTEGER NOT NULL,
    "horasObligadas" DOUBLE PRECISION NOT NULL,
    "horasDiurnasOrdinarias" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasNocturnasOrdinarias" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasDiasInhabilesOrdinarias" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasTotalOrdinarias" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasFaltantes" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasExcedentes" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasRecargoNocturno" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasRecargoDiasInhabiles" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "montoRecargoOrdinario" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "horasExtrasDiurnas" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasExtrasNocturnas" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horasExtrasDiasInhabiles" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "montoHorasExtras" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "horasEfectivasControl" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "requiereVCP" BOOLEAN NOT NULL DEFAULT false,
    "horasDescontadas" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "montoDescuentos" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "totalAPagar" DECIMAL(10,2) NOT NULL DEFAULT 0,
    "estado" "EstadoCalculoHoras" NOT NULL,
    "aprobadoPor" TEXT,
    "aprobadoAt" TIMESTAMP(3),
    "observaciones" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CalculoHorasMensual_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PuntoFIX" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "codigo" TEXT NOT NULL,
    "nombre" TEXT,
    "tipo" "TipoPuntoFIX" NOT NULL,
    "activo" BOOLEAN NOT NULL DEFAULT true,
    "orden" INTEGER NOT NULL DEFAULT 0,
    "categoria" "CategoriaPuntoFIX",
    "latitud" DOUBLE PRECISION,
    "longitud" DOUBLE PRECISION,
    "creadoPor" TEXT NOT NULL,
    "modificadoPor" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "PuntoFIX_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OperacionPorPunto" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "fecha" DATE NOT NULL,
    "hora" INTEGER NOT NULL,
    "puntoFIXId" TEXT NOT NULL,
    "cantidad" INTEGER NOT NULL DEFAULT 0,
    "categoria" "CategoriaPuntoFIX" NOT NULL,
    "registradoPor" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OperacionPorPunto_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResumenOperacionesDiario" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "fecha" DATE NOT NULL,
    "tipoDependencia" "TipoDependencia" NOT NULL,
    "operacionesNAC" INTEGER NOT NULL DEFAULT 0,
    "operacionesINT" INTEGER NOT NULL DEFAULT 0,
    "operacionesTransPub" INTEGER NOT NULL DEFAULT 0,
    "operacionesMilitar" INTEGER NOT NULL DEFAULT 0,
    "operacionesOtros" INTEGER NOT NULL DEFAULT 0,
    "operacionesSobrevuelo" INTEGER NOT NULL DEFAULT 0,
    "operacionesAMS" INTEGER NOT NULL DEFAULT 0,
    "totalNacInt" INTEGER NOT NULL DEFAULT 0,
    "totalGeneral" INTEGER NOT NULL DEFAULT 0,
    "calculadoDesde" "OrigenCalculo" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResumenOperacionesDiario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ResumenOperacionesHorario" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "fecha" DATE NOT NULL,
    "hora" INTEGER NOT NULL,
    "tipoDependencia" "TipoDependencia" NOT NULL,
    "operaciones" INTEGER NOT NULL DEFAULT 0,
    "detalleCategoria" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ResumenOperacionesHorario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EstadisticasMensuales" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "mes" INTEGER NOT NULL,
    "a├▒o" INTEGER NOT NULL,
    "tipoDependencia" "TipoDependencia" NOT NULL,
    "totalOperaciones" INTEGER NOT NULL DEFAULT 0,
    "promedioOperacionesDia" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "promedioOperacionesHora" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "horaMayorTrafico" INTEGER,
    "operacionesHMT" INTEGER NOT NULL DEFAULT 0,
    "diaMayorTrafico" INTEGER,
    "operacionesDiaMT" INTEGER NOT NULL DEFAULT 0,
    "fechaDiaMT" DATE,
    "detalleCategoria" JSONB NOT NULL,
    "imatsId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EstadisticasMensuales_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Incidente" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "fecha" TIMESTAMP(3) NOT NULL,
    "numero" INTEGER NOT NULL,
    "descripcion" TEXT NOT NULL,
    "tipo" "TipoIncidente" NOT NULL,
    "gravedad" "GravedadIncidente" NOT NULL,
    "callsign" TEXT,
    "tipoAeronave" TEXT,
    "origen" TEXT,
    "destino" TEXT,
    "reportadoREMIN" BOOLEAN NOT NULL DEFAULT false,
    "fechaReporteREMIN" TIMESTAMP(3),
    "registradoPor" TEXT NOT NULL,
    "aprobadoPor" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Incidente_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProblemaTecnico" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "dependencia" TEXT NOT NULL,
    "problema" TEXT NOT NULL,
    "inicio" TIMESTAMP(3) NOT NULL,
    "termino" TIMESTAMP(3),
    "duracion" DOUBLE PRECISION,
    "accionTomada" TEXT NOT NULL,
    "resuelto" BOOLEAN NOT NULL DEFAULT false,
    "reportadoPor" TEXT NOT NULL,
    "reportadoDASA" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProblemaTecnico_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IMATS" (
    "id" TEXT NOT NULL,
    "unidadId" TEXT NOT NULL,
    "mes" INTEGER NOT NULL,
    "a├▒o" INTEGER NOT NULL,
    "estado" "EstadoIMATS" NOT NULL,
    "seccionPersonal" JSONB NOT NULL,
    "seccionIncidentes" JSONB NOT NULL,
    "seccionProblemas" JSONB NOT NULL,
    "seccionExtensiones" JSONB NOT NULL,
    "seccionHabilitaciones" JSONB NOT NULL,
    "datosEET" JSONB NOT NULL,
    "estadisticasOPS" JSONB NOT NULL,
    "rolTurnosId" TEXT,
    "pdfUrl" TEXT,
    "excelUrl" TEXT,
    "firmadoPor" TEXT,
    "firmadoAt" TIMESTAMP(3),
    "certificadoDigital" TEXT,
    "enviadoSSA" BOOLEAN NOT NULL DEFAULT false,
    "enviadoSSAAt" TIMESTAMP(3),
    "enviadoSSAEmail" TEXT,
    "generadoPor" TEXT NOT NULL,
    "generadoAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "actualizadoPor" TEXT,
    "actualizadoAt" TIMESTAMP(3),

    CONSTRAINT "IMATS_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_rut_key" ON "Usuario"("rut");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_numeroLicencia_key" ON "Usuario"("numeroLicencia");

-- CreateIndex
CREATE INDEX "Usuario_unidadId_idx" ON "Usuario"("unidadId");

-- CreateIndex
CREATE INDEX "Usuario_email_idx" ON "Usuario"("email");

-- CreateIndex
CREATE INDEX "Usuario_activo_idx" ON "Usuario"("activo");

-- CreateIndex
CREATE UNIQUE INDEX "Unidad_nombre_key" ON "Unidad"("nombre");

-- CreateIndex
CREATE UNIQUE INDEX "Unidad_codigo_key" ON "Unidad"("codigo");

-- CreateIndex
CREATE INDEX "Unidad_activa_idx" ON "Unidad"("activa");

-- CreateIndex
CREATE INDEX "Unidad_codigo_idx" ON "Unidad"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "ConfiguracionUnidadATS_unidadId_key" ON "ConfiguracionUnidadATS"("unidadId");

-- CreateIndex
CREATE INDEX "PuestoTrabajo_horarioOperacion_idx" ON "PuestoTrabajo"("horarioOperacion");

-- CreateIndex
CREATE INDEX "PuestoTrabajo_activo_idx" ON "PuestoTrabajo"("activo");

-- CreateIndex
CREATE UNIQUE INDEX "PuestoTrabajo_unidadId_codigo_key" ON "PuestoTrabajo"("unidadId", "codigo");

-- CreateIndex
CREATE INDEX "TipoTurno_unidadId_activo_idx" ON "TipoTurno"("unidadId", "activo");

-- CreateIndex
CREATE UNIQUE INDEX "TipoTurno_unidadId_codigo_key" ON "TipoTurno"("unidadId", "codigo");

-- CreateIndex
CREATE INDEX "Habilitacion_usuarioId_idx" ON "Habilitacion"("usuarioId");

-- CreateIndex
CREATE INDEX "Habilitacion_unidadId_idx" ON "Habilitacion"("unidadId");

-- CreateIndex
CREATE INDEX "Habilitacion_activa_idx" ON "Habilitacion"("activa");

-- CreateIndex
CREATE INDEX "PublicacionTurnos_estado_idx" ON "PublicacionTurnos"("estado");

-- CreateIndex
CREATE UNIQUE INDEX "PublicacionTurnos_unidadId_mes_a├▒o_key" ON "PublicacionTurnos"("unidadId", "mes", "a├▒o");

-- CreateIndex
CREATE INDEX "AsignacionTurno_fecha_idx" ON "AsignacionTurno"("fecha");

-- CreateIndex
CREATE INDEX "AsignacionTurno_usuarioId_fecha_idx" ON "AsignacionTurno"("usuarioId", "fecha");

-- CreateIndex
CREATE UNIQUE INDEX "AsignacionTurno_publicacionId_usuarioId_fecha_key" ON "AsignacionTurno"("publicacionId", "usuarioId", "fecha");

-- CreateIndex
CREATE INDEX "RegistroATC6_unidadId_fecha_idx" ON "RegistroATC6"("unidadId", "fecha");

-- CreateIndex
CREATE INDEX "RegistroATC6_usuarioId_fecha_idx" ON "RegistroATC6"("usuarioId", "fecha");

-- CreateIndex
CREATE INDEX "RegistroATC6_sector_fecha_idx" ON "RegistroATC6"("sector", "fecha");

-- CreateIndex
CREATE UNIQUE INDEX "RegistroATC6_fecha_sector_usuarioId_horaInicio_key" ON "RegistroATC6"("fecha", "sector", "usuarioId", "horaInicio");

-- CreateIndex
CREATE INDEX "ConsolidadoATC6Mensual_unidadId_mes_a├▒o_idx" ON "ConsolidadoATC6Mensual"("unidadId", "mes", "a├▒o");

-- CreateIndex
CREATE INDEX "ConsolidadoATC6Mensual_requiereVCP_idx" ON "ConsolidadoATC6Mensual"("requiereVCP");

-- CreateIndex
CREATE UNIQUE INDEX "ConsolidadoATC6Mensual_usuarioId_mes_a├▒o_key" ON "ConsolidadoATC6Mensual"("usuarioId", "mes", "a├▒o");

-- CreateIndex
CREATE UNIQUE INDEX "AbreviaturaATCO_codigo_key" ON "AbreviaturaATCO"("codigo");

-- CreateIndex
CREATE UNIQUE INDEX "AbreviaturaATCO_usuarioId_key" ON "AbreviaturaATCO"("usuarioId");

-- CreateIndex
CREATE INDEX "AbreviaturaATCO_activa_idx" ON "AbreviaturaATCO"("activa");

-- CreateIndex
CREATE INDEX "CalculoHorasMensual_unidadId_mes_a├▒o_idx" ON "CalculoHorasMensual"("unidadId", "mes", "a├▒o");

-- CreateIndex
CREATE INDEX "CalculoHorasMensual_estado_idx" ON "CalculoHorasMensual"("estado");

-- CreateIndex
CREATE UNIQUE INDEX "CalculoHorasMensual_usuarioId_mes_a├▒o_key" ON "CalculoHorasMensual"("usuarioId", "mes", "a├▒o");

-- CreateIndex
CREATE INDEX "PuntoFIX_unidadId_activo_idx" ON "PuntoFIX"("unidadId", "activo");

-- CreateIndex
CREATE INDEX "PuntoFIX_tipo_idx" ON "PuntoFIX"("tipo");

-- CreateIndex
CREATE UNIQUE INDEX "PuntoFIX_unidadId_codigo_key" ON "PuntoFIX"("unidadId", "codigo");

-- CreateIndex
CREATE INDEX "OperacionPorPunto_unidadId_fecha_idx" ON "OperacionPorPunto"("unidadId", "fecha");

-- CreateIndex
CREATE INDEX "OperacionPorPunto_fecha_hora_idx" ON "OperacionPorPunto"("fecha", "hora");

-- CreateIndex
CREATE UNIQUE INDEX "OperacionPorPunto_fecha_hora_puntoFIXId_key" ON "OperacionPorPunto"("fecha", "hora", "puntoFIXId");

-- CreateIndex
CREATE INDEX "ResumenOperacionesDiario_fecha_idx" ON "ResumenOperacionesDiario"("fecha");

-- CreateIndex
CREATE UNIQUE INDEX "ResumenOperacionesDiario_unidadId_fecha_tipoDependencia_key" ON "ResumenOperacionesDiario"("unidadId", "fecha", "tipoDependencia");

-- CreateIndex
CREATE INDEX "ResumenOperacionesHorario_fecha_hora_idx" ON "ResumenOperacionesHorario"("fecha", "hora");

-- CreateIndex
CREATE UNIQUE INDEX "ResumenOperacionesHorario_unidadId_fecha_hora_tipoDependenc_key" ON "ResumenOperacionesHorario"("unidadId", "fecha", "hora", "tipoDependencia");

-- CreateIndex
CREATE INDEX "EstadisticasMensuales_mes_a├▒o_idx" ON "EstadisticasMensuales"("mes", "a├▒o");

-- CreateIndex
CREATE UNIQUE INDEX "EstadisticasMensuales_unidadId_mes_a├▒o_tipoDependencia_key" ON "EstadisticasMensuales"("unidadId", "mes", "a├▒o", "tipoDependencia");

-- CreateIndex
CREATE INDEX "Incidente_unidadId_fecha_idx" ON "Incidente"("unidadId", "fecha");

-- CreateIndex
CREATE INDEX "ProblemaTecnico_unidadId_inicio_idx" ON "ProblemaTecnico"("unidadId", "inicio");

-- CreateIndex
CREATE INDEX "IMATS_estado_idx" ON "IMATS"("estado");

-- CreateIndex
CREATE INDEX "IMATS_enviadoSSA_idx" ON "IMATS"("enviadoSSA");

-- CreateIndex
CREATE UNIQUE INDEX "IMATS_unidadId_mes_a├▒o_key" ON "IMATS"("unidadId", "mes", "a├▒o");

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConfiguracionUnidadATS" ADD CONSTRAINT "ConfiguracionUnidadATS_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PuestoTrabajo" ADD CONSTRAINT "PuestoTrabajo_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TipoTurno" ADD CONSTRAINT "TipoTurno_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Habilitacion" ADD CONSTRAINT "Habilitacion_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Habilitacion" ADD CONSTRAINT "Habilitacion_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PublicacionTurnos" ADD CONSTRAINT "PublicacionTurnos_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AsignacionTurno" ADD CONSTRAINT "AsignacionTurno_publicacionId_fkey" FOREIGN KEY ("publicacionId") REFERENCES "PublicacionTurnos"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AsignacionTurno" ADD CONSTRAINT "AsignacionTurno_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AsignacionTurno" ADD CONSTRAINT "AsignacionTurno_tipoTurnoId_fkey" FOREIGN KEY ("tipoTurnoId") REFERENCES "TipoTurno"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroATC6" ADD CONSTRAINT "RegistroATC6_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroATC6" ADD CONSTRAINT "RegistroATC6_puestoTrabajoId_fkey" FOREIGN KEY ("puestoTrabajoId") REFERENCES "PuestoTrabajo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroATC6" ADD CONSTRAINT "RegistroATC6_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RegistroATC6" ADD CONSTRAINT "RegistroATC6_instructorId_fkey" FOREIGN KEY ("instructorId") REFERENCES "Usuario"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsolidadoATC6Mensual" ADD CONSTRAINT "ConsolidadoATC6Mensual_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ConsolidadoATC6Mensual" ADD CONSTRAINT "ConsolidadoATC6Mensual_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AbreviaturaATCO" ADD CONSTRAINT "AbreviaturaATCO_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CalculoHorasMensual" ADD CONSTRAINT "CalculoHorasMensual_usuarioId_fkey" FOREIGN KEY ("usuarioId") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CalculoHorasMensual" ADD CONSTRAINT "CalculoHorasMensual_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PuntoFIX" ADD CONSTRAINT "PuntoFIX_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OperacionPorPunto" ADD CONSTRAINT "OperacionPorPunto_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OperacionPorPunto" ADD CONSTRAINT "OperacionPorPunto_puntoFIXId_fkey" FOREIGN KEY ("puntoFIXId") REFERENCES "PuntoFIX"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumenOperacionesDiario" ADD CONSTRAINT "ResumenOperacionesDiario_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ResumenOperacionesHorario" ADD CONSTRAINT "ResumenOperacionesHorario_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EstadisticasMensuales" ADD CONSTRAINT "EstadisticasMensuales_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EstadisticasMensuales" ADD CONSTRAINT "EstadisticasMensuales_imatsId_fkey" FOREIGN KEY ("imatsId") REFERENCES "IMATS"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Incidente" ADD CONSTRAINT "Incidente_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProblemaTecnico" ADD CONSTRAINT "ProblemaTecnico_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IMATS" ADD CONSTRAINT "IMATS_unidadId_fkey" FOREIGN KEY ("unidadId") REFERENCES "Unidad"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

